---
import '../styles/global.css'
import img1 from "../../public/play-circle-regular-24.png"
import img2 from "../../public/heart-regular-24 (1).png"
---

<main class=" border-1 border-white w-97 h-auto rounded-3xl flex justify-center item-center gap-5 flex-col ">
	<div class="circules w-80 h-80 m-auto mt-3">
		<div class="circules w-78 h-78">
		<div class="circules w-76 h-76">
		<div class="circules w-74 h-74 ">
		<div class="circules w-72 h-72">
		<div class="circules w-70 h-70">
		<div class="circules w-68 h-68">
			<img src="../../public/nevermind-nirvana-1991.png" alt="" class=" w-66 h-66 rounded-full border-2 border-b-black bg-cover">
		</div>
	</div>		
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	<section class="w-full h-auto flex flex-col items-center justify-around rounded-3xl bg-secondary-color">
		<div class="max-w-full flex justify-center items-center">
			<p class="max-w-full text-3xl text-white text-pretty text-center">aaaaaaaaaaaaaaaaaaaaaaa-aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
		</div>
		<section class="w-full flex justify-between px-7 m-3.5">
			<img src={img1.src} alt="" class="w-10">
			<img src={img2.src} alt="" class="w-10">
		</section>
	</section>
</main>