---
import '../styles/global.css'
import img1 from "../../public/play-circle-regular-24.png"
---

<main class=" border-1 border-white w-97 h-121 rounded-3xl flex justify-center item-center gap-5 flex-col ">
	<div class="w-80 h-80 m-auto mt-3">
		<div class=" w-78 h-78">
		<div class="w-76 h-76">
		<div class=" w-74 h-74 ">
		<div class=" w-72 h-72">
		<div class=" w-70 h-70">
		<div class=" w-68 h-68">
			<img src="../../public/nevermind-nirvana-1991.png" alt="" class=" w-66 h-66 rounded-full border-2 border-b-black bg-cover">
		</div>
	</div>		
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	<section class="w-full h-40 flex flex-col items-center justify-around rounded-3xl bg-secondary-color">
		<p class="max-w-full text-3xl text-white text-pretty
 h-auto" >loreaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
		<section class="w-full flex justify-between px-7">
			<img src={img1.src} alt="" class="w-10">
			<img src="../../public/heart-regular-24 (1).png" alt="" class="w-10">
		</section>
	</section>
</main>